SECRET_KEY=change-me-to-a-long-random-string
ADMIN_PASSWORD=change-me
DATABASE_URL=postgres://postgres:postgres@localhost:5432/garden
#  PICCOLO_CONF=piccolo_conf

OTEL_RESOURCE_ATTRIBUTES="service.name=nisu-digital-garden,service.version=0.1.0"
OTEL_EXPORTER_OTLP_ENDPOINT="http://192.168.50.130:4317"
OTEL_EXPORTER_OTLP_INSECURE="true"
OTEL_EXPORTER_OTLP_PROTOCOL="grpc"
OTEL_METRICS_EXPORTER="none"

OAUTH_PROVIDER_NAME=pocket-id
OAUTH_CLIENT_ID=adsfasfdasfasfasfdasfasfsafasf
OAUTH_CLIENT_SECRET=qerqwerqwerqwrqwrewqrwqrqwrqwrwrqr
OAUTH_ISSUER_URL=https://pocketid.example.com
OAUTH_REDIRECT_URI=http://localhost:8000/admin/oauth/callback
OAUTH_ALLOWED_GROUP=