{% extends "layout/base.html" %} {% block title %}nisu's digital garden{%
endblock %} {% block content %}
<section class="hero">
  <h1>{{ content.hero_headline | safe }}</h1>
  <p>{{ content.hero_subtext | safe }}</p>
</section>

{% if content.about %}
<section>{{ content.about | safe }}</section>
{% endif %} {% if posts %}
<section>
  <hgroup>
    <h2>recent posts</h2>
    <p><a href="/blog">all posts →</a></p>
  </hgroup>
  {% for post in posts %}{% include "partials/blog_card.html" %}{% endfor %}
</section>
{% endif %} {% if projects %}
<section>
  <hgroup>
    <h2>featured projects</h2>
    <p><a href="/projects">all projects →</a></p>
  </hgroup>
  {% for project in projects %}{% include "partials/project_card.html" %}{%
  endfor %}
</section>
{% endif %} {% endblock %}
