{% extends "layout/admin.html" %} {% block title %}Admin{% endblock %} {% block
admin_content %}
<h2>Dashboard</h2>
<article>
    <header><strong>Pages</strong></header>
    <p><data value="{{ page_count }}">{{ page_count }}</data></p>
    <footer><a href="/admin/pages">Manage &rarr;</a></footer>
  </article>
  <article>
    <header><strong>Content Blocks</strong></header>
    <p><data value="{{ block_count }}">{{ block_count }}</data></p>
    <footer><a href="/admin/content">Manage &rarr;</a></footer>
  </article>
  <article>
    <header><strong>Collections</strong></header>
    <p><data value="{{ collection_count }}">{{ collection_count }}</data></p>
    <footer><a href="/admin/collections">Manage &rarr;</a></footer>
</article>
{% endblock %}
